{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "pure": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components"
        }
      }
    ]
  ]
}
