{
  "plugins": ["prettier", "@typescript-eslint", "react", "react-hooks", "jest"],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "react-app",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "consistent-return": "error",
    "no-param-reassign": "error",
    "comma-dangle": 1,
    "curly": ["error", "multi-line"],
    "import/prefer-default-export": "off",
    "react/jsx-fragments": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": [
      2,
      {
        "commonjs": true
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": false,
        "requireParamType": false,
        "requireParamDescription": false,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.test.jsx",
          "**/*.test.ts",
          "**/*.test.tsx",
          "src/tests/**/*"
        ]
      }
    ],
    "@typescript-eslint/no-explicit-any": [
      "off",
      {
        "ignoreRestArgs": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "max-len": [
      "warn",
      {
        "code": 80,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "react/jsx-key": "error",
    "object-curly-spacing": ["warn", "always"],
    "no-unused-vars": "error",
    "no-unused-expressions": "error",
    "import/no-cycle": "off",
    "react/prop-types": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"]
  }
}
