html,
body,
div {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
}
